### A project on:

# USED CAR PRICE PREDICTION

## Team 18 :
### Prabuddha Kumar Dwivedi(SIRSS2299),Sagar Dhawane(SIRSS2300) and Deepthi Boddu(SIRSS2302)

#### Importing required libraries

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

#### Importing Dataset

In [2]:
# importing downloaded data from kaggle
data = pd.read_csv("car data.csv")
data

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0
...,...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,Diesel,Dealer,Manual,0
297,brio,2015,4.00,5.90,60000,Petrol,Dealer,Manual,0
298,city,2009,3.35,11.00,87934,Petrol,Dealer,Manual,0
299,city,2017,11.50,12.50,9000,Diesel,Dealer,Manual,0
300,brio,2016,5.30,5.90,5464,Petrol,Dealer,Manual,0

### Data preprocessing

In [3]:
# data preprocessing.
data.shape,data

((301, 9),
     Car_Name  Year  Selling_Price  Present_Price  Kms_Driven Fuel_Type  \
 0       ritz  2014           3.35           5.59       27000    Petrol
 1        sx4  2013           4.75           9.54       43000    Diesel
 2       ciaz  2017           7.25           9.85        6900    Petrol
 3    wagon r  2011           2.85           4.15        5200    Petrol
 4      swift  2014           4.60           6.87       42450    Diesel
 ..       ...   ...            ...            ...         ...       ...
 296     city  2016           9.50          11.60       33988    Diesel
 297     brio  2015           4.00           5.90       60000    Petrol
 298     city  2009           3.35          11.00       87934    Petrol
 299     city  2017          11.50          12.50        9000    Diesel
 300     brio  2016           5.30           5.90        5464    Petrol

     Seller_Type Transmission  Owner
 0        Dealer       Manual      0
 1        Dealer       Manual      0
 2        Dealer       Manual      0
 3        Dealer       Manual      0
 4        Dealer       Manual      0
 ..          ...          ...    ...
 296      Dealer       Manual      0
 297      Dealer       Manual      0
 298      Dealer       Manual      0
 299      Dealer       Manual      0
 300      Dealer       Manual      0

 [301 rows x 9 columns])

#### Searching for missing values

In [4]:
data.isnull().sum()
# no missing values found

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

#### Counting individual values

In [5]:
data['Seller_Type'].value_counts(), data['Transmission'].value_counts(),data['Fuel_Type'].value_counts()

(Dealer        195
 Individual    106
 Name: Seller_Type, dtype: int64,
 Manual       261
 Automatic     40
 Name: Transmission, dtype: int64,
 Petrol    239
 Diesel     60
 CNG         2
 Name: Fuel_Type, dtype: int64)

#### Encoding of non-numeric data using Label Encoder

In [6]:
lb = LabelEncoder()

In [7]:
data['Seller_Type'] = lb.fit_transform(data['Seller_Type'])
data

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,0,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,0,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,0,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,0,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,0,Manual,0
...,...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,Diesel,0,Manual,0
297,brio,2015,4.00,5.90,60000,Petrol,0,Manual,0
298,city,2009,3.35,11.00,87934,Petrol,0,Manual,0
299,city,2017,11.50,12.50,9000,Diesel,0,Manual,0
300,brio,2016,5.30,5.90,5464,Petrol,0,Manual,0

In [8]:
data['Transmission'] = lb.fit_transform(data['Transmission'])
data

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,0,1,0
1,sx4,2013,4.75,9.54,43000,Diesel,0,1,0
2,ciaz,2017,7.25,9.85,6900,Petrol,0,1,0
3,wagon r,2011,2.85,4.15,5200,Petrol,0,1,0
4,swift,2014,4.60,6.87,42450,Diesel,0,1,0
...,...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,Diesel,0,1,0
297,brio,2015,4.00,5.90,60000,Petrol,0,1,0
298,city,2009,3.35,11.00,87934,Petrol,0,1,0
299,city,2017,11.50,12.50,9000,Diesel,0,1,0
300,brio,2016,5.30,5.90,5464,Petrol,0,1,0

In [9]:
data['Fuel_Type'] = lb.fit_transform(data['Fuel_Type'])
data

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,2,0,1,0
1,sx4,2013,4.75,9.54,43000,1,0,1,0
2,ciaz,2017,7.25,9.85,6900,2,0,1,0
3,wagon r,2011,2.85,4.15,5200,2,0,1,0
4,swift,2014,4.60,6.87,42450,1,0,1,0
...,...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,1,0,1,0
297,brio,2015,4.00,5.90,60000,2,0,1,0
298,city,2009,3.35,11.00,87934,2,0,1,0
299,city,2017,11.50,12.50,9000,1,0,1,0
300,brio,2016,5.30,5.90,5464,2,0,1,0

#### Deleting unnecessary coloumns

In [10]:
del data['Car_Name']

In [11]:
y = data['Selling_Price']
y

0       3.35
1       4.75
2       7.25
3       2.85
4       4.60
       ...
296     9.50
297     4.00
298     3.35
299    11.50
300     5.30
Name: Selling_Price, Length: 301, dtype: float64

In [12]:
del data['Selling_Price']

In [13]:
x = data
print(x.shape,y.shape)

(301, 7) (301,)

#### Splitting data into training and testing

In [14]:
# train test split
x_train,x_test, y_train, y_test = train_test_split(x,y,random_state = 4)

#### Feature Scaling using Standard scalar

In [15]:
standardScaler = StandardScaler()
standardScaler.fit(x_train)
x_train = standardScaler.transform(x_train)
x_test = standardScaler.transform(x_test)

### Training the model and Predcting values

#### Using Linear Regression(Model 1)

In [16]:
# Linear Regression
from sklearn.linear_model import LinearRegression

In [17]:
algo = LinearRegression()

In [18]:
algo.fit(x_train, y_train)

LinearRegression()

In [19]:
Y_pred = algo.predict(x_test)
algo.coef_,algo.intercept_

(array([ 1.10852511,  3.70261195, -0.17102771, -0.63077686, -0.60967276,
        -0.44516464, -0.22396956]),
 4.5387999999999735)

#### Score of linear regression algorithm

In [20]:
algo.score(x_test,y_test)

0.8532459802656135

In [21]:
# finding r square error
from sklearn.metrics import r2_score

In [22]:
r2_score(y_test, Y_pred)

0.8532459802656135

#### Using RandomForest(Model 2)

In [23]:
rf = RandomForestRegressor(n_estimators = 200)

In [24]:
rf.fit(x_train, y_train)
y_pred = rf.predict(x_test)
r2_score(y_test, y_pred)

0.9183872964905203

## Random Forest is better at predicting values